# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Others
*.dop
*.doppo
.cproject
.project
language.settings.xml


# folder
/traces/*
/result/

# special cases
!/traces/traceParse.py
